<ul class="{{ __SELF__.className }}">
  {% for currency in availableCurrencies %}
    {% if (currency.currency != activeCurrency) %}
      <li>
        <a href="{{ currency.url ~ (urlAnchor ? '#' ~ urlAnchor) }}">
          {{ currency.name }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
